@media (max-width: 1800px) { 

.section-second__tablet-dec { 
	display: none;
	}

.section-second__circle-dec { 
	right: 50px;
	}

.section-second__check-dec { 
	left: 50px;
	}

}

@media (max-width: 1350px) { 

.mov-slider { 
	width: 540px;
	}

.question { 
	margin: 0;
	}

.tel-link__icon { 
	margin: 0 10px 0 0;
	}

.tel-link__number { 
	font-size: 24px;
	}

.whatsapp-link__icon { 
	margin: 0 10px 0 0;
	width: 40px;
	}

.whatsapp-link__text { 
	font-size: 20px;
	}

.telegram-link__icon { 
	margin: 0 10px 0 0;
	width: 40px;
	}

.telegram-link__text { 
	font-size: 20px;
	}

.play-panel { 
	padding: 0;
	justify-content: center;
	}

.excursion-form__img { 
	width: 600px;
	right: 30px;
	top: auto;
	bottom: 30px;
	}

.excursion-form__img img { 
	width: 100%;
	}

.section-second__circle-dec { 
	display: none;
	}

.section-second__check-dec { 
	display: none;
	}

}

@media (max-width: 1170px) { 

[class*=__container] {
	max-width: 960px;
	}

.logo a { 
	display: block;
	}

.logo__img { 
	margin: 0 0 20px;
	}

.logo__text { 
	margin: 0;
	}

.profit-info { 
	display: block;
	}

.profit-info__mov { 
	order: 0;
	padding: 0;
	}

.mov-slider { 
	max-width: 700px;
	width: 100%;
	height: unset;
	}

.mov-slider img { 
	height: unset;
	object-fit: unset;
	}

.profit-info__description { 
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 50px;
	width: 100%;
	}

.excursion-form__in { 
	padding: 50px;
	}

.excursion-form__text { 
	max-width: 450px;
	}

.excursion-form__text br { 
	display: none;
	}

.excursion-form__small-text { 
	max-width: 350px;
	}

.excursion-form__small-text br { 
	display: none;
	}

.excursion-form input[type="tel"] { 
	padding-right: 545px;
	}

.excursion-form__excursion-mov { 
	right: 30px;
	}

.excursion-form__img { 
	right: -50px;
	}

.advantages__text br { 
	display: none;
	}

.advantages { 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px 30px;
	}

.strategy__text br { 
	display: none;
	}

.results__item-in { 
	padding: 30px;
	min-height: 350px;
	}

.results__title { 
	font-size: 24px;
	line-height: 34px;
	}

.results__item p { 
	font-size: 18px;
	line-height: 26px;
	}

.results__item p br { 
	display: none;
	}

.results__img { 
	width: 200px;
	right: 15px;
	}

.results__img img { 
	width: 100%;
	}

.section-third__btn-panel { 
	margin: 0 0 100px;
	}

.director { 
	margin: 0 0 100px;
	}

.director__img { 
	width: 420px;
	}

.director__img img { 
	width: 100%;
	}

.success-form { 
	flex-direction: column;
	align-items: center;
	}

.success-form__info {
	margin: 0 0 30px; 
	padding: 0;
	text-align: center;
	}

.section-first__info { 
	margin: 0 0 100px;
	}

.info__title { 
	margin: 0 0 40px;
	font-size: 40px;
	line-height: 50px;
	}

.section-second__info .info__title { 
	margin: 0 0 40px;
	font-size: 40px;
	line-height: 50px;
	}

.info__img { 
	max-width: 700px;
	width: 100%;
	top: -50px;
	right: -250px;
	}

.title-middle { 
	font-size: 40px;
	line-height: 50px;
	}

.section-second_changed { 
	padding: 330px 0 0;
	}

.section-second__info { 
	margin: 0 0 100px;
	}

.question { 
	padding: 10px 10px 0;
	}

.question__in { 
	padding: 50px 30px;
	}

.question:before { 
	width: 38px;
	height: 28px;
	}

.question__title { 
	font-size: 36px;
	line-height: 46px;
	}

.question__text { 
	margin: 0 0 40px;
	font-size: 20px;
	line-height: 30px;
	}

.tel-link__number { 
	font-size: 20px;
	}

.title-small { 
	font-size: 30px;
	line-height: 40px;
	}

.footer { 
	padding: 50px 0;
	}

.footer__logo .logo__img { 
	margin: 0 0 20px;
	}

.footer__phone { 
	padding: 4px 0 0;
	}

.footer__bottom-panel { 
	padding: 30px 0 0;
	}

#excursion .hystmodal__window { 
	max-width: 960px;
	}

}

@media (max-width: 1100px) { 

#excursion.hystmodal .hystmodal__close { 
	width: 14px;
	height: 14px;
	top: 15px;
	right: 15px;
	background: url(../img/bg/close-green.svg) center no-repeat;
  	background-size: 100%;
  	z-index: 30;
	}

}

@media (max-width: 960px) { 

.header__left-col { 
	gap: 0 30px;
	}

.header__right-col { 
	gap: 0 40px;
	}

.info__img { 
	right: -180px;
	}

.section-first { 
	padding-top: 50px;
	}

.section-first_changed { 
	padding: 37px 0 0;
	}

.profit-info { 
	margin: 0 0 100px;
	}

.section-first__bullets { 
	margin-bottom: 50px;
	}

.section-second { 
	padding: 340px 0 100px;
	}

.section-second_changed { 
	padding: 330px 0 0;
	}

.section-second__info .info__img { 
	right: -180px;
	}

.mov-slider { 
	height: unset;
	}

.results__mov:before { 
	left: -120px;
	}

.section-third { 
	padding: 50px 0 0;
	}

.section-third__bullets { 
	margin-bottom: 50px;
	}

.results { 
	margin: 0 0 70px;
	}

.cursor-icon { 
	display: block;
	}

.play-btn {
	width: 100px;
	height: 100px;
	}

.play-panel__play-btn { 
	margin: 0 20px 0 0;
	}

.profit-info__title { 
	margin: 0 0 15px 0;
	}

.excursion-form form { 
	margin: 0 0 25px;
	}

.excursion-form input[type="tel"] { 
	margin: 0 0 30px;
	padding-right: 40px;
	}

.excursion-form__btn { 
	position: relative;
	width: 100%;
	}

.zoom-info dt { 
	font-size: 20px;
	line-height: 30px;
	}

.zoom-info dt:before { 
	top: 10px;
	}

.zoom-info dd { 
	font-size: 18px;
	line-height: 28px;
	}

.zoom-info dd:before { 
	top: 13px;
	}

.profit-info__tools-info:after { 
	right: 20px;
	}

.big-title { 
	font-size: 48px;
	line-height: 58px;
	}

.title { 
	font-size: 48px;
	line-height: 58px;
	}

.sub-title { 
	font-size: 26px;
	}

.marketing {
	display: flex;
	flex-wrap: inherit;
	gap: 0 15px;
	margin: 0 -15px 50px;
	padding: 0 15px;
	max-width: inherit;
	width: auto;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.marketing::-webkit-scrollbar { 
	width: 0; 
	height: 0;
	background: transparent;
	}

.marketing__item { 
	width: 350px;
	min-width: 350px;
	white-space: normal;
	}

.advantages { 
	display: flex;
	flex-wrap: inherit;
	justify-content: flex-start;
	align-items: inherit;
	gap: 0 15px;
	margin: 0 -15px 50px;
	padding: 0 15px;
	max-width: inherit;
	width: auto;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.advantages::-webkit-scrollbar { 
	width: 0; 
	height: 0;
	background: transparent;
	}

.advantages__item { 
	padding: 20px;
	width: 350px;
	min-width: 350px;
	white-space: normal;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	}

.advantages__text { 
	font-size: 18px;
	}

.strategy { 
	display: flex;
	flex-wrap: inherit;
	justify-content: flex-start;
	align-items: inherit;
	gap: 0 15px;
	margin: 0 -15px 50px;
	padding: 0 15px;
	max-width: inherit;
	width: auto;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.strategy::-webkit-scrollbar { 
	width: 0; 
	height: 0;
	background: transparent;
	}

.strategy__item { 
	padding: 0;
	width: 300px;
	min-width: 300px;
	white-space: normal;
	}

.strategy__item:nth-child(1) .strategy__img img { 
	object-fit: cover;
	}

.strategy__img { 
	padding: 15px;
	height: 220px;
	}

.strategy__img img { 
	width: 100%;
	height: 100%;
	object-fit: contain;
	}

.results { 
	display: flex;
	flex-wrap: inherit;
	justify-content: flex-start;
	align-items: inherit;
	gap: 0 15px;
	margin: 0 -15px 50px;
	padding: 0 15px;
	max-width: inherit;
	width: auto;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;
	scrollbar-width: none;
	}

.results::-webkit-scrollbar { 
	width: 0; 
	height: 0;
	background: transparent;
	}

.results > div { 
	width: 450px;
	min-width: 450px;
	white-space: normal;
	}

.results__item-content { 
	box-shadow: 0 0 0 1px rgba(82, 76, 84, 0.05) inset;
	}

.results__mov { 
	padding: 0 0 10px;
	top: 0;
	}

.results__mov a { 
	height: 100%;
	}

.results__mov img { 
	width: 100%;
	height: 100%;
	object-fit: cover;
	}

.widget__in { 
	padding: 30px;
	}

.director__description { 
	max-width: 600px;
	}

.hystmodal .hystmodal__window { 
	max-width: 490px;
	}

}

@media (max-width: 900px) { 

.header__left-col { 
	gap: 0;
	}

.logo__img { 
	margin: 0 0 10px;
	}

.header__clients { 
	display: none;
	}

.header__right-col { 
	gap: 0 70px;
	}

.messengers__icon { 
	width: 36px;
	}

.messengers__icon img { 
	width: 100%;
	}

.messengers__icon { 
	width: 36px;
	}

.messengers__icon img { 
	width: 100%;
	}

.header__phone { 
	padding: 0;
	}

.info__img { 
	position: static;
	margin: 0 auto 50px;
	max-width: 400px;
	}

.info__description { 
	display: flex;
	flex-direction: column;
	align-items: center;
	}

.info__title { 
	text-align: center;
	}

.info__title,
.section-second__info .info__title { 
	font-size: 34px;
	line-height: 44px;
	}

.info__title img { 
	margin: 0;
	width: 60px;
	}

.success-form { 
	margin: 0 0 50px;
	}

.section-first__info { 
	margin: 0 0 50px;
	}

.profit-info__title { 
	font-size: 40px;
	line-height: 50px;
	}

.title { 
	font-size: 30px;
	line-height: 40px;
	}

.title img { 
	margin: 0;
	width: 30px;
	}

.big-title { 
	font-size: 30px;
	line-height: 40px;
	}

.title-middle { 
	font-size: 30px;
	line-height: 40px;
	}

.sub-title { 
	font-size: 20px;
	}

.btn-panel_line-dec .btn-panel__in:after { 
	display: none;
	}

.profit-info { 
	margin: 0 0 50px;
	}

.section-third__btn-panel { 
	margin: 0 0 70px;
	}

.btn_line-dec i { 
	display: none;
	}

.question__title { 
	font-size: 26px;
	line-height: 36px;
	}

.question__contacts { 
	gap: 0 25px;
	}

.question__text { 
	font-size: 18px;
	line-height: 26px;
	}

.tel-link__number { 
	font-size: 16px;
	line-height: 30px;
	}

.whatsapp-link__icon { 
	width: 30px;
	}

.whatsapp-link__text { 
	font-size: 16px;
	line-height: 30px;
	}

.telegram-link__icon { 
	width: 30px;
	}

.telegram-link__text { 
	font-size: 16px;
	line-height: 30px;
	}

.excursion-form__in { 
	padding: 30px;
	}

.excursion-form__img { 
	position: static;
	margin: 0 auto;
	padding: 0 0 0;
	max-width: 400px;
	width: 100%;
	}

.excursion-form__excursion-mov { 
	position: relative;
	margin: 0 auto -40px;
	max-width: 300px;
	top: -70px;
	right: 0;
	z-index: 6;
	}

.excursion-form__title-small br { 
	display: none;
	}

.excursion-form__text { 
	max-width: 100%;
	font-size: 20px;
	line-height: 30px;
	}

.excursion-form__small-text { 
	max-width: 100%;
	}

.director__title { 
	font-size: 20px;
	line-height: 30px;
	}

.director__title:before { 
	top: 10px;
	}

.director__title { 
	padding: 0 0 0 25px;
	}

.director__text { 
	padding: 0 0 0 25px;
	font-size: 16px;
	line-height: 24px;
	}

.footer { 
	padding: 40px 0 30px;
	}

.footer__logo .logo__img { 
	margin: 0 0 10px;
	}

.footer__text br { 
	display: none;
	}

}

@media (max-width: 767px) {

.title-middle br { 
	display: none;
	}

.btn { 
	width: 100%;
	}

.logo__text { 
	font-size: 12px;
	line-height: 16px;
	}

.header__right-col { 
	gap: 0 40px;
	}

.messengers__icon { 
	margin: 0 10px 0 0;
	width: 30px;
	}

.messengers__text a { 
	margin: 0 0 3px;
	font-size: 14px;
	line-height: 16px;
	}

.messengers__text span { 
	font-size: 10px;
	}

.phone__work-time { 
	margin: 15px 0 0;
	}

.phone__number { 
	padding: 0 0 0 25px;
	}

.phone__number:before { 
	width: 18px;
	height: 18px;
	top: 0;
	background-size: 100%;
	}

.phone__number span { 
	font-size: 14px;
	line-height: 16px;
	}

.phone__number small { 
	font-size: 10px;
	}

.phone__work-time span { 
	margin: 0 0 5px;
	font-size: 12px;
	}

.phone__link { 
	display: table;
	font-size: 10px;
	}

.success-form { 
	padding: 30px;
	}

.success-form form { 
	width: 100%;
	}

.mov a:after { 
	width: 80px;
	height: 80px;
	}

.info__title, 
.section-second__info .info__title { 
	font-size: 30px;
	line-height: 40px;
	}

.info__text { 
	font-size: 20px;
	line-height: 30px;
	}

.question__title { 
	font-size: 24px;
	line-height: 30px;
	}

.question__text { 
	font-size: 16px;
	line-height: 20px;
	}

.info__title { 
	margin: 0 0 30px;
	}

.section-second__info .info__title { 
	margin: 0 0 30px;
	}

.section-second_changed { 
	padding: 300px 0 0;
	}

.mov { 
	height: 300px;
	}

.mov img { 
	width: 100%;
	height: 100%;
	object-fit: cover;
	}

.section-second_changed { 
	margin: -150px 0 0;
	padding: 200px 0 0;
	}

.question__contacts { 
	flex-direction: column;
	gap: 20px 0;
	}

.success-form__btn { 
	width: auto;
	}

.profit-info__title img { 
	width: 70px;
	}

.zoom-info dt { 
	margin: 0 0 20px;
	}

.tools-info__descrition span { 
	font-size: 16px;
	line-height: 24px;
	}

.sub-title { 
	margin: 0 0 30px;
	}

.profit-info__tools-info:after { 
	right: 10px;
	bottom: -50px;
	}

.director__img { 
	position: static;
	margin: 0 auto;
	max-width: 200px;
	}

.director__img img { 
	width: 100%;
	}

.director__description { 
	padding: 0;
	max-width: 100%;
	}

.director__title br { 
 	display: none;
	}

.director__text br { 
	display: none;
	}

.widget__title br { 
	display: none;
	}

.widget__text br { 
	display: none;
	}

.widget__btn { 
	max-width: 100%;
	}

.btn_play-icon { 
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 25px;
	padding-right: 25px;
	}

.btn_play-icon:before { 
	position: static;
	margin: 0 10px 0 0; 
	width: 60px;
	height: 60px;
	transform: translateY(0);
	}

.results__btn { 
	width: auto;
	}

}

@media (max-width: 620px) {

.header__right-col { 
	gap: 0 20px;
	}

.title-middle { 
	font-size: 24px;
	line-height: 32px;
	}

.title-middle_indent-bottom-small { 
	margin: 0 0 30px;
	}

.title-small { 
	font-size: 24px;
	line-height: 32px;
	}

.success-form__title { 
	margin: 0 0 10px;
	}

.success-form p { 
	font-size: 16px;
	line-height: 20px;
	}

.success-form input { 
	margin: 0 0 20px;
	padding: 0 30px 0 66px;
	height: 70px;
	}

.success-form__btn { 
	position: static;
	}

.section-second__info { 
	margin: 0 0 70px;
	}

.info__title, 
.section-second__info .info__title { 
	margin: 0 0 20px;
	font-size: 24px;
	line-height: 32px;
	}

.info__text { 
	padding: 0 0 0 25px;
	font-size: 16px;
	line-height: 22px;
	}

.info__text:before { 
	top: 8px;
	height: 4px;
	}

.info__text:after { 
	display: none;
	}

.btn { 
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	line-height: 20px;
 	}

.btn_telegram-icon { 
	padding-left: 30px;
	padding-right: 30px;
	}

.btn_telegram-icon i { 
	position: static;
	display: inline-block;
	margin: 0 0 0 15px;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	transform: translate(0);
	}

.success-form__title { 
	font-size: 24px;
	line-height: 30px;
	}

.success-form__btn { 
	width: 100%;
	}

.excursion-form__excursion-mov { 
	margin: 0 auto -70px;
	max-width: 210px;
	top: -100px;
	}

.excursion-mov__play-btn { 
	margin: 0 10px 0 0;
	}

.excursion-mov a { 
	padding: 0 20px 0 0;
	}

.excursion-mov__text { 
	font-size: 12px;
	line-height: 16px;
	}

.advantages__item { 
	width: 280px;
	min-width: 280px;
	}

.advantages__photo { 
	height: 150px;
	min-height: unset;
	}

.advantages__photo img { 
	width: 100%;
	height: 100%;
	object-fit: contain;
	}

.advantages__text { 
	font-size: 16px;
	line-height: 24px;
	}

.advantages__text:before { 
	top: 10px;
	}

.strategy__item { 
	width: 280px;
	min-width: 280px;
	}

.strategy__text { 
	font-size: 16px;
	line-height: 22px;
	}

.section-third__bullets { 
	margin-bottom: 30px;
	}

.footer { 
	padding: 30px 0;
	}

.footer__phone .phone__number span { 
	margin: 0 0 2px;
	font-size: 16px;
	line-height: 16px;
	}

.privacy-policy { 
	font-size: 12px;
	line-height: 18px;
	}

.mov-slider { 
	margin: 0 0 30px;
	}

.play-btn { 
	width: 80px;
	height: 80px;
	}

.play-panel__text { 
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	}

.profit-info__description { 
	align-items: flex-start;
	}

.profit-info__title { 
	font-size: 30px;
	line-height: 40px;
	}

.profit-info__title br { 
	display: none;
	}

.zoom-info dt br { 
	display: none;
	}

.zoom-info dd br { 
	display: none;
	}

.profit-info__tools-info { 
	margin: 0 0 20px;
	}

.profit-info__tools-info:after { 
	width: 40px;
	height: 65px;
	bottom: -35px;
	background-size: 100%;
	}

.tools-info__descrition span br { 
	display: none;
	}

.marketing__item { 
	width: 280px;
	min-width: 280px;
	}

.marketing__title { 
	font-size: 16px;
	line-height: 24px;
	}

.section-first__bullets { 
	margin-bottom: 30px;
	}

.results > div { 
	width: 400px;
	min-width: 400px;
	}

.excursion-form__content:before { 
	display: none;
	}

.excursion-form__img { 
	max-width: 300px;
	}

.excursion-form input[type="tel"] { 
	height: 90px;
	}

.results__mov a:before { 
	width: 100px;
	height: 100px;
	}

.results__item-in { 
	padding: 20px;
	min-height: 450px;
	}

.results__price { 
	left: 20px;
	right: auto;
	}

.results__img { 
	width: 180px;
	}

.results__btn { 
	width: 100%;
	}

.director { 
	margin: 0 0 70px;
	}

.btn_play-icon:before { 
	width: 36px;
	height: 36px;
	}

.footer__bottom-panel { 
	padding: 20px 0 0;
	}

.footer__text { 
	font-size: 12px;
	line-height: 18px;
	}

}

@media (max-width: 580px) {

.logo__text { 
	font-size: 11px;
	line-height: 15px;
	}

.header__right-col { 
	gap: 0;
	}

.header__messengers { 
	display: none;
	}

.small-text { 
	font-size: 10px;
	line-height: 13px;
	letter-spacing: 0;
	}

.hystmodal_changed .hystmodal__content { 
	padding: 30px;
	}

.callback-form__title { 
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	}

.callback-form__text { 
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	}

.callback-form__small-text { 
	padding: 0;
	}

.hystmodal .hystmodal__close { 
	width: 14px;
	height: 14px;
	top: 15px;
	right: 15px;
	background: url(../img/bg/close-green.svg) center no-repeat;
  	background-size: 100%;
	}

.excursion-form__btn br { 
	display: none;
	}

}

@media (max-width: 520px) {

.info__img { 
	margin-bottom: 30px;
	max-width: 300px;
	}

.info__title, 
.section-second__info .info__title { 
	display: none;
	}

.question__text br { 
	display: none;
	}

.footer__top-panel { 
	flex-direction: column;
	gap: 20px 0;
	align-items: center;
	}

.footer__logo { 
	text-align: center;
	}

.footer__logo .logo__img { 
	display: flex;
	justify-content: center;
	}

.footer__phone { 
	padding: 0;
	}

.privacy-policy { 
	text-align: center;
	}

}

@media (max-width: 480px) {

.success-form input { 
	margin: 0 0 15px;
	padding: 0 20px 0 45px;
	height: 58px;
	font-size: 12px;
	background-size: 14px 14px;
	background-position: 20px center;
	}

.btn { 
	padding: 20px 25px;
	font-size: 11px;
	line-height: 16px;
	}

.btn_telegram-icon i { 
	flex-shrink: 0;
	display: block;
	margin: 0 0 0 10px;
	width: 30px;
	height: 30px;
	}

.section-second_changed { 
	margin: -110px 0 0;
	padding: 130px 0 0;
	}

.mov { 
	height: 220px;
	}

.mov a:after { 
	width: 50px;
	height: 50px;
	}

.question__in { 
	padding: 30px 20px;
	}

.question__title {  
	font-size: 20px;
	line-height: 26px;
	}

.question__text { 
	font-size: 14px;
	line-height: 20px;
	}

input[type="tel"].input_small-size { 
	padding: 0 25px 0 50px;
	font-size: 14px;
	height: 56px;
	background-position: 20px center;
	background-size: 16px;
	}

.big-title { 
	font-size: 24px;
	line-height: 32px;
	}

.big-title_indent-bottom-small { 
	margin: 0 0 10px;
	}

.title { 
	font-size: 24px;
	line-height: 32px;
	}

.title_indent-bottom-small { 
	margin: 0 0 10px;
	}

.sub-title { 
	font-size: 16px;
	line-height: 24px;
	}

.section-second { 
	padding: 300px 0 70px;
	}

.section-second_changed { 
	padding: 130px 0 0;
	}

.advantages__item { 
	padding: 15px;
	}

.advantages__photo { 
	height: 120px;
	}

.results > div {
	width: 340px;
	min-width: 340px;
	}

.results__item-in { 
	min-height: 400px;
	}

.results__title { 
	font-size: 20px;
	line-height: 26px;
	}

.results__item p { 
	font-size: 16px;
	line-height: 24px;
	}

.results__img { 
	width: 150px;
	}

.results__price span { 
	font-size: 13px;
	line-height: 18px;
	}

.widget__in { 
	padding: 20px;
	}

.widget__title { 
	font-size: 20px;
	line-height: 26px;
	}

.widget__text { 
	font-size: 16px;
	line-height: 24px;
	}

.title-small { 
	font-size: 20px;
	line-height: 26px;
	}

.excursion-form__img { 
	margin-bottom: 50px;
	max-width: 240px;
	}

.excursion-form__in { 
	padding: 20px;
	}

.excursion-form__text { 
	font-size: 16px;
	line-height: 24px;
	}

.excursion-form input[type="tel"] { 
	margin: 0 0 20px;
	margin: 0 0 15px;
	padding: 0 20px 0 55px;
	height: 72px;
	font-size: 14px;
	background-size: 16px 16px;
	background-position: 30px center;
	}

.zoom-info dt { 
	margin: 0 0 15px;
	line-height: 26px;
	}

.zoom-info dd { 
	font-size: 16px;
	line-height: 24px;
	}

.zoom-info dd:before { 
	top: 10px;
	}

.tools-info__descrition span { 
	font-size: 14px;
	line-height: 20px;
	}

.section-third__title { 
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	}

.section-third__title br {
	display: none;
	}

.section-third__title b { 
	display: block;
	font-size: 24px;
	}

}

@media (max-width: 420px) { 

.btn br { 
	display: none;
	}
	
}

@media (max-width: 390px) {

.profit-info__tools-info:after { 
	bottom: -50px;
	}

}

@media (max-width: 380px) {

.logo__img { 
	margin: 0 0 5px;
 	}

.logo__text { 
	font-size: 10px;
	line-height: 12px;
	}

.success-form { 
	padding: 20px 20px 30px;
	}

.success-form__info { 
	margin: 0 0 20px;
	}

.success-form__title { 
	font-size: 20px;
	line-height: 26px;
	}

.success-form p { 
	font-size: 12px;
	line-height: 16px;
	}

.title-middle { 
	font-size: 20px;
	line-height: 26px;
	}

.title-small { 
	margin: 0 0 20px;
	font-size: 20px;
	line-height: 26px;
	}

p { 
	font-size: 14px;
	line-height: 22px;
	}

.hystmodal ol li { 
	font-size: 14px;
	line-height: 14px;
	}

.question__text { 
	margin: 0 0 20px;
	}

.section-second__info { 
	margin: 0 0 50px;
	}

.callback-form__small-text br { 
	display: none;
	}

.tools-info__img { 
	width: 90px;
	}

.tools-info__descrition span { 
	font-size: 12px;
	line-height: 16px;
	}

.hystmodal .hystmodal__window { 
	padding: 30px 15px;
	}

.hystmodal_changed .hystmodal__window { 
	padding: 0;
	}

.hystmodal_changed .hystmodal__content { 
	padding: 15px;
	}

.hystmodal .hystmodal__close { 
	width: 10px;
	height: 10px;
	top: 12px;
	right: 12px;
	}

.callback-form__title { 
	margin: 0 0 10px;
	font-size: 20px;
	line-height: 26px;
	}

.callback-form__text { 
	margin: 0 0 20px;
	font-size: 12px;
	line-height: 16px;
	}

.marketing__item { 
	width: 260px;
	min-width: 260px;
	}

.advantages__item { 
	width: 260px;
	min-width: 260px;
	}

.advantages__text { 
	font-size: 14px;
	line-height: 20px;
	}

.advantages__text:before { 
	top: 8px;
	}

.strategy__item { 
	width: 260px;
	min-width: 260px;
	}

.results > div { 
	width: 260px;
	min-width: 260px;
	}

.results__item-in { 
	padding: 15px;
	}

.results__mov:before { 
	display: none;
	}

.results__price { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 100px;
	height: 100px;
	}

.results__price span { 
	font-size: 8px;
	line-height: 12px;
	}

.results__price img { 
	width: 40px;
	}

}

@media (max-width: 374px) {

.profit-info__tools-info:after { 
	display: none;
	}

}